@model MvcSoftConsult.Models.EmployeeProfileDropdownViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Profile</title>
    <style>
        .auto-style1 {
            width: 100px;
        }

        .auto-style2 {
            width: 154px;
        }

        .auto-style4 {
            height: 31px;
        }

        .auto-style5 {
            width: 154px;
            height: 31px;
        }

        .form-control {
        }

        .auto-style8 {
            width: 100px;
            height: 34px;
        }

        .auto-style9 {
            height: 34px;
        }
    </style>
</head>
<body>
    <form method="post" action="/EmployeeProfile/Save">

        <h3 class="mb-4" style="background: linear-gradient(to right, #003366, #66ccff); color:white">Employee Profile</h3>

        <input type="hidden" id="txtE_SNOHidden" name="E_SNO" value="@Model.E_SNO" />

        <table style="border-collapse: collapse;">
            <tr>
                <td class="" style="padding-left:100px; text-align:right">
                    <label for="cmbEmp_LocID" width="100px">Location:</label>
                </td>
                <td>
                    <select name="Emp_LocID" class="form-control" id="cmbEmp_LocID" style="height:40px; width:200px">
                        @foreach (var item in Model.Locations)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_LocID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_LocID" class="text-danger"></span>
                </td>
                <td class="auto-style2" style="padding-left:700px">
                    <button type="button" class="" onclick="window.location.href='@Url.Action("Refresh", "EmployeeProfile")'">Refresh</button>

                </td>
            </tr>
            <tr>
                <td class="auto-style8" style="padding-left:100px; text-align:right; margin-right:20px">
                    <label for="txtE_SID">Employee Id:</label>
                </td>
                <td class="auto-style9">
                    <input id="txtE_SID" name="E_SID" value="@Model.E_SID" class="form-control" type="text" style="width:200px; height:40px" required />
                    <span asp-validation-for="E_SID" class="text-danger"></span>
                </td>
                <td style="padding-left: 65px;" class="auto-style4">
                    <div>
                        <label for="cmbEmp_SurID" style="margin-left: 200px; text-align: right;">Sur Name:</label>
                        <select name="Emp_SurID" class="form-control" id="cmbEmp_SurID" style="margin-left:300px; height: 40px; width: 200px;">
                            @foreach (var item in Model.Salutations)
                            {
                                <option value="@item.Value" @(item.Value == Model.Emp_SurID.ToString() ? "selected" : "")>@item.Text</option>
                            }
                        </select>
                        <span asp-validation-for="Emp_SurID" class="text-danger"></span>
                        <button type="submit" class="" style="margin-left:630px">Save</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="auto-style5" style="padding-left: 100px; text-align: right; white-space: nowrap; vertical-align: middle;">
                    <label for="txtE_FName">Father/Hus Name:</label>
                </td>
                <td class="auto-style4">
                    <input id="txtE_FName" name="E_FName" value="@Model.E_FName" class="form-control" type="text" style="width:200px; height:40px" required />
                    <span asp-validation-for="E_FName" class="text-danger"></span>
                </td>
                <td class="auto-style5" style="padding-left:700px">
                    <button type="button" class="" onclick="window.location.href='@Url.Action("ShowList", "EmployeeProfile")'">List</button>
                </td>
            </tr>
            <tr>
                <td class="auto-style1" style="padding-left:100px; text-align:right">
                    <label for="txtE_Name">Full Name:</label>
                </td>
                <td colspan="2">
                    <input id="txtE_Name" name="E_Name" value="@Model.E_Name" class="form-control" type="text" style="width:200px; height:40px" required />
                    <span asp-validation-for="E_Name" class="text-danger"></span>
                </td>
            </tr>
        </table>

        <hr class="my-4" />
        <h3 style="color:blue">Nationality & IDs</h3>
        <table style="border-collapse: collapse;">
            <tr>
                <td class="auto-style2" style="padding-left:150px;text-align:right"><label for="cmbEmp_NationID">Nationality:</label></td>
                <td>
                    <select name="Emp_NationID" class="form-control" id="cmbEmp_NationID" style="height:40px; width:200px">
                        @foreach (var item in Model.Nations)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_NationID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_NationID" class="text-danger"></span>
                </td>
                <td class="auto-style8" style="padding-left: 250px; text-align: right; white-space: nowrap; vertical-align: middle;"><label for="dtpE_DOB">Date of Birth:</label></td>
                <td>
                    <input id="dtpE_DOB" name="E_DOB" value="@(Model.E_DOB.HasValue ? Model.E_DOB.Value.ToString("yyyy-MM-dd") : "")"  class="form-control" type="date" style="width:200px; height:40px" required />
                    <span asp-validation-for="E_DOB" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:100px;text-align:right"><label for="txtE_IdNo">ID No:</label></td>
                <td>
                    <input id="txtE_IdNo" name="E_IdNo" value="@Model.E_IdNo" class="form-control" type="text" style="width:200px" required />
                    <span asp-validation-for="E_IdNo" class="text-danger"></span>
                </td>

                <td class="auto-style2" style="text-align:right"><label for="dtpE_IDExpire">ID Expiry Date:</label></td>
                <td>
                    <input id="dtpE_IDExpire" name="E_IDExpire" value="@(Model.E_IDExpire.HasValue ? Model.E_IDExpire.Value.ToString("yyyy-MM-dd") : "")"  class="form-control" type="date" style="width:200px" required />
                    <span asp-validation-for="E_IDExpire" class="text-danger"></span>
                </td>
            </tr>
        </table>

        <hr class="my-4" />
        <h3 style="color:blue">Basic Information</h3>
        <table style="border-collapse: collapse;">
            <tr>
                <td class="auto-style2" style="padding-left: 170px; text-align: right; white-space: nowrap; vertical-align: middle;"><label for="cmbEmp_SecID">Section:</label></td>
                <td>
                    <select name="Emp_SecID" class="form-control" id="cmbEmp_SecID" style="height:40px; width:200px">
                        @foreach (var item in Model.Sections)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_SecID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_SecID" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="cmbEmp_DesigID">Designation:</label></td>
                <td>
                    <select name="Emp_DesigID" class="form-control" id="cmbEmp_DesigID" style="height:40px; width:200px">
                        @foreach (var item in Model.Designations)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_DesigID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_DesigID" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:100px;text-align:right"><label for="txtE_Desig">Add Desig:</label></td>
                <td>    
                    <input id="txtE_Desig" name="E_Desig" value="@Model.E_Desig" class="form-control" type="text" style="width:200px; height:40px" required />
                    <span asp-validation-for="E_Desig" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="txtE_Depart">Department:</label></td>
                <td>
                    <input id="txtE_Depart" name="E_Depart" value="@Model.E_Depart" class="form-control" type="text" style="width:200px" required />
                    <span asp-validation-for="E_Depart" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:100px;text-align:right"><label for="cmbEmp_LeaveID">Leave Policy:</label></td>
                <td>

                    <select name="Emp_LeaveID" class="form-control" id="cmbEmp_LeaveID" style="height:40px; width:200px">
                        @foreach (var item in Model.Leaves)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_LeaveID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_LeaveID" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="cmbEmp_DptID">Department Level:</label></td>
                <td>
                    <select name="Emp_DptID" class="form-control" id="cmbEmp_DptID" style="height:40px; width:200px">

                        @foreach (var item in Model.Departments)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_DptID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_DptID" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:100px;text-align:right"><label for="cmbEmp_ReligionID">Religion:</label></td>
                <td>
                    <select name="Emp_ReligionID" class="form-control" id="cmbEmp_ReligionID" style="height:40px; width:200px">

                        @foreach (var item in Model.Religions)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_ReligionID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_ReligionID" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="cmbEmp_GenderID">Gender:</label></td>
                <td>
                    <select name="Emp_GenderID" class="form-control" id="cmbEmp_GenderID" style="height:40px; width:200px">
                        @foreach (var item in Model.Genders)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_GenderID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_GenderID" class="text-danger"></span>
                </td>
            </tr>
        </table>

        <hr class="my-4" />
        <h3 style="color:blue">Employee Status</h3>
        <table style="border-collapse: collapse;">
            <tr>
                <td class="auto-style2" style="padding-left: 100px; text-align: right; white-space: nowrap; vertical-align: middle;"><label for="dtpE_Join">Joining Date:</label></td>
                <td>
                    <input id="dtpE_Join" name="E_Join" value="@(Model.E_Join.HasValue ? Model.E_Join.Value.ToString("yyyy-MM-dd") : "")"  class="form-control" type="date" style="width:200px" required />
                    <span asp-validation-for="E_Join" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="cmbEmp_GradeID">Grade:</label></td>
                <td>
                    <select name="Emp_GradeID" class="form-control" id="cmbEmp_GradeID" style="height:40px; width:200px">
                        @foreach (var item in Model.Grades)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_GradeID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_GradeID" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:80px;text-align:right; white-space: nowrap; vertical-align: middle;"><label for="cmbEmp_StatusID">Employment Status:</label></td>
                <td>
                    <select name="Emp_StatusID" class="form-control" id="cmbEmp_StatusID" style="height:40px; width:200px">
                        @foreach (var item in Model.Statuses)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_StatusID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_StatusID" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="dtpE_CD">Confirmation Date:</label></td>
                <td>
                    <input id="dtpE_CD" name="E_CD" value="@(Model.E_CD.HasValue ? Model.E_CD.Value.ToString("yyyy-MM-dd") : "")"  class="form-control" type="date" style="width:200px" required />
                    <span asp-validation-for="E_CD" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:100px;text-align:right"><label for="cmbEmp_JobStatusID">Job Status:</label></td>
                <td>
                    <select name="Emp_JobStatusID" class="form-control" id="cmbEmp_JobStatusID" style="height:40px; width:200px">
                        @foreach (var item in Model.JobStatuses)
                        {
                            <option value="@item.Value" @(item.Value == Model.Emp_JobStatusID.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Emp_JobStatusID" class="text-danger"></span>
                </td>

                <td style="padding-left:220px; text-align:right"><label for="dtpE_DL">Date of Leaving:</label></td>
                <td>
                
                     <input id="dtpE_DL" name="E_DL" value="@(Model.E_DL.HasValue ? Model.E_DL.Value.ToString("yyyy-MM-dd") : "")"  class="form-control" type="date" style="width:200px" required />
                     <span asp-validation-for="E_DL" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="padding-left:100px;text-align:right"><label for="txtE_Reason">Reasons:</label></td>
                <td colspan="3">
                    <textarea id="txtE_Reason" name="E_Reason" class="form-control" rows="3" required>@Model.E_Reason</textarea>
                    <span asp-validation-for="E_Reason" class="text-danger"></span>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
